node_modules/
dist/
temp/
output/
WC3MapTranslator/

coverage/
.nyc_output/
test/.output

**/*.d.ts
!global.d.ts
**/*.d.ts.map
**/*js.map
**/*.js
.tsbuildinfo

.vscode/
.idea/
.history/

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
